{% extends "myhealth/base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}
- Doctor Registration
{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <section class="text-center">
            <h3>Register as a Doctor</h3>
        </section>
    </div>
    <div class="content-section">
        <form id="user_form" method="POST"  enctype = "multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Log In</a>
            </small>
        </div>
    </div>
{% endblock content %}
