{% extends "myhealth/base.html" %}
{% load staticfiles %}

{% block title_block %}
- Doctor Appointment Schedule
{% endblock %}


{% block content %}
<div class="container marketing bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-lg-2">
      <div class="media center-block my-3 p-3 bg-white rounded shadow-sm">
        <div class="card text-center">
          <img src="{{user.doctorprofile.image.url}}" alt="{{user.first_name}} {{user.last_name}}" class="card_image">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <a href="{% url 'doctor_profile' %}"
              class="btn btn-outline-secondary">&nbsp;&nbsp;&nbsp;Profile&nbsp;&nbsp;&nbsp;</a>
            <p></p>
            <a href="{% url 'doctor_appointment' %}" class="btn btn-outline-secondary">Schedule</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="media-body my-3 p-3 bg-white rounded shadow-sm">
        <section class="text-center">
          <h3>Booked Appointment</h3>
        </section>
      </div>
      <div>
        <form action="{% url 'doctor_appointment' %}" class="search-form form-inline my-3 my-lg-1">
          <input type="search" class="form-control mr-sm-2" style="width:400px;" name="q"
            placeholder="Search by patient name or date (M/D/YYYY)">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>


      
      <div>
        <div class="table-responsive bg-white">
          <br>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Book Time</th>
                <th></th>
              </tr>
            </thead>
            {% for appoint in queryset %}
            {% if appoint.appointment_with != '' %}
            <!--For Loop for all post which has booked -->
            <tbody>
              <tr>
                <td></td>
                <td>{{appoint.appointment_with}}</th>
                <td>{{appoint.date}}</td>
                <td>
                  {{appoint.time_start}} - {{appoint.time_end}}
                </td>
                <td><a href="{% url 'create_record' %}" class="btn btn-outline-primary">Make Record</a></td>
              </tr>
            </tbody>
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}