{% extends "myhealth/base.html" %}
{% load staticfiles %}

{% block title_block %}
- Doctor List
{% endblock %}


{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <section class="text-center">
        <h3>Doctor Lists</h3>
    </section>
</div>


<div class="row mb-2">
    <!-- Search -->
    <div class="col-md-6">
        <form action="{% url 'doctor_list' %}" class="search-form form-inline my-3 my-lg-1">
            <input type="search" class="form-control mr-sm-2" style="width:400px;" name="q"
                placeholder="Search by doctor name">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <!-- Make Appointment -->
    {% if user.is_authenticated and user.is_patient %}
    <div class="col-md-6">
        <section class="text-right">
            <a href="{% url 'make_appointment' %}" class="btn btn-outline-primary">Make Appointment</a>
        </section>
    </div>
    {% endif %}
</div>


{% for doctor in queryset %}
{% if doctor.is_doctor %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row">
        <div class="col-lg-2">
            <div class="media text-muted pt-3">
                <img src="{{doctor.doctorprofile.image.url}}" alt="{{doctor.first_name}} {{doctor.last_name }}"
                    class="bd-placeholder-img rounded-circle" width="100" height="100">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row mb-3">
                <div class="col-sm-6 themed-grid-col">
                    <h6><strong>Name:</strong>&nbsp;&nbsp;{{ doctor.first_name }}&nbsp;&nbsp;{{ doctor.last_name }}</h6>
                </div>
                <div class="col-sm-6 themed-grid-col">
                    <h6><strong>Email:</strong>&nbsp;&nbsp;{{ doctor.email }}</h6>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-6 themed-grid-col">
                    <h6><strong>Direction:</strong>&nbsp;&nbsp;{{ doctor.doctorprofile.direction }}</h6>
                </div>
                <div class="col-sm-6 themed-grid-col">
                    <h6><strong>Work Address:</strong>&nbsp;&nbsp;{{ doctor.doctorprofile.work_address }}</h6>
                </div>
            </div>

            <div class="row mb-3">
                {% if user.is_authenticated and user.is_admin %}
                <div class="col-sm-6 themed-grid-col">
                    <h6><strong>Telephone:</strong>&nbsp;&nbsp;{{ doctor.doctorprofile.tel }}</h6>
                </div>
                <div class="col-sm-6 themed-grid-col">
                    <h6><strong>Personal Address:</strong>&nbsp;&nbsp;{{ doctor.doctorprofile.address }}</h6>
                </div>
                {% endif %}
            </div>

            <div class="row mb-3">
                <div class="col-sm-12 themed-grid-col">
                    <h6><strong>Short Description:</strong>&nbsp;&nbsp;{{ doctor.doctorprofile.description }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
  
{% endblock content %}