{% extends "myhealth/base.html" %}
{% load staticfiles %}

{% block title_block %}
- Home
{% endblock %}

{% block content %}
<main role="main" class="bg-white">

  <section class="bg-white jumbotron text-center">
    <div class="container">
      <img src="{% static 'img/logo/02_logo.jpg' %}" alt="Logo" width="50" height="50" />
      <h1>MY HEALTH</h1>
      <p class="lead text-muted">This is a website application to make a closer relationship among doctors and patients.
      </p>

      <!-- Patient Menu -->
      {% if user.is_authenticated and user.is_patient%}
      <div class="border-top pt-3">
        <p class="lead text-muted">Welcome, {{user.first_name}} {{user.last_name}}</p>
        <small class="text-muted">
          <a href="{% url 'patient_profile' %}" class="btn btn-outline-primary">Edit Profile</a>
          <a href="{% url 'record_list' %}" class="btn btn-outline-primary">Records History</a>
          <a href="{% url 'doctor_list' %}" class="btn btn-outline-primary">Make an appointment</a>
          <a href="{% url 'patient_appointment' %}" class="btn btn-outline-primary">My appointments</a>
          <a href="{% url 'forum' %}" class="btn btn-outline-primary">Forum</a>
        </small>
      </div>

      <!-- Doctor Menu -->
      {% elif user.is_authenticated and user.is_doctor%}
      <div class="border-top pt-3">
        <p class="lead text-muted">Welcome, {{user.first_name}} {{user.last_name}}</p>
        <small class="text-muted">
          <a href="{% url 'doctor_appointment' %}" class="btn btn-outline-primary">Schedule</a>
          <a href="{% url 'doctor_profile' %}" class="btn btn-outline-primary">Edit Profile</a>
          <a href="{% url 'patient_list' %}" class="btn btn-outline-primary">Create Record</a>
          <a href="{% url 'record_list' %}" class="btn btn-outline-primary">Patient Records</a>
          <a href="{% url 'create_appointment' %}" class="btn btn-outline-primary">Create Appointment</a>
          <a href="{% url 'forum' %}" class="btn btn-outline-primary">Forum</a>
        </small>
      </div>

      <!-- Administrator Menu -->
      {% elif user.is_authenticated and user.is_admin %}
      <div class="border-top pt-3">
        <p class="lead text-muted">Welcome, {{user.first_name}} {{user.last_name}}</p>
        <small class="text-muted">
          <a href="{% url 'admin_profile' %}" class="btn btn-outline-primary">Edit Profile</a>
          <a href="{% url 'appointments' %}" class="btn btn-outline-primary">Appointment Management</a>
          <a href="{% url 'patient_list' %}" class="btn btn-outline-primary">Patient List</a>
          <a href="{% url 'doctor_list' %}" class="btn btn-outline-primary">Doctor List</a>
          <a href="{% url 'forum' %}" class="btn btn-outline-primary">Forum</a>
        </small>
      </div>
      {% else %}
      <div class="border-top pt-3">
        <small class="text-muted">
          <a href="{% url 'login' %}" class="btn btn-outline-primary">Log In</a>
          <a href="{% url 'patient_register' %}" class="btn btn-outline-primary">Patient Register</a>
          <a href="{% url 'doctor_register' %}" class="btn btn-outline-primary">Doctor Register</a>
          <a href="{% url 'admin_register' %}" class="btn btn-outline-primary">Admin Register</a>
        </small>
      </div>
      {% endif %}
    </div>
  </section>
</main>
{% endblock content %}
