{% extends "myhealth/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
- Make Appointment
{% endblock %}


{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <section class="text-center">
    <h3>Make Appointment</h3>
  </section>
</div>


<div>
  <div class="table-responsive bg-white">
    <h4>Available Appointment List</h4>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Doctor Image</th>
          <th>Doctor Name</th>
          <th>Date</th>
          <th>Available Free Time</th>
          <th></th>
        </tr>
      </thead>
      {% for appoint in appoints %}
      <!--For Loop for all post -->
      {% if appoint.appointment_with == '' %}
      <!--Filter Those not Booked yet-->
      <tbody>
        <tr>
          <td><img class="card_image" style="height:50px; width:50px; margin-top: 0px;"
              src="{{appoint.user.doctorprofile.image.url}}"></td>
          <td>{{appoint.user.first_name}} {{appoint.user.last_name}}</td>
          <td>{{appoint.date}}</td>
          <td>
            {{appoint.time_start}} - {{appoint.time_end}}
          </td>
          <td>
            <a href='{% url "appointment_update" id=appoint.id %}'>
              <button class="btn btn-outline-primary" type="submit">Book Now</button>
            </a>
          </td>
        </tr>
      </tbody>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}