{% extends "myhealth/base.html" %}
{% load staticfiles %}

{% block title_block %}
- Patient Records
{% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <section class="text-center">
        <h3>Patient History Records</h3>
    </section>
</div>

<div class="container-fluid bg-white">
    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
            <div class="table-responsive bg-white">
                <br>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>Record No.#</th>
                            <th>Patient GPNO</th>
                            <th>Patient Name</th>
                            <th>Doctor Name</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>

                    {% for record in user.allowed_users.all %}
                    <tbody class="text-center">
                        <tr>
                            <td>{{ record.id }}</td>
                            <td>{{ record.patient.GPNO }}</td>
                            <td>{{ record.patient.first_name }}&nbsp;&nbsp;{{ record.patient.last_name }}</td>
                            <td>{{ record.creator.user.first_name }}&nbsp;&nbsp;{{ record.creator.user.last_name }}</td>
                            <td>{{ record.date_created }}</td>
                            <td>
                                <a href="record/{{ record.id }}">
                                    <button class="btn btn-outline-primary" type="submit">Details</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
    </main>
</div>
</div>
{% endblock content %}